# Игнорируем папку с зависимостями
node_modules/

# Игнорируем lock-файлы, если используете только один пакетный менеджер
package-lock.json
yarn.lock

# Файлы окружения (важно для безопасности)
.env
.env.local
.env.development
.env.production

# Конфигурационные файлы редактора
.vscode/
.idea/

# Кеши и сборочные файлы
dist/
.cache/
sections/components